.home-bg {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 90vh;
  background-color: #0b0b0b;
  background-size: cover;
  font-family: "Roboto";
  color: #f5f4ff;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .home-bg {
    height: 100vh;
    flex-direction: row;
    width: auto;
  }
}

.home-content {
  width: 100%;
  padding: 5px;
  /* align-self: center; */
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
  scroll-behavior: smooth;
}

.greeting-user {
  width: 90%;
  height: 96px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .greeting-user {
    flex-direction: column;
    margin-bottom: 33px;
  }
}

.welcome-msg {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
}
.name {
  font-size: 21px;
  font-weight: 600;
  background-image: linear-gradient(
    45deg,
    #2bfa93,
    #d0f182,
    #fcfffc,
    #2ab42a,
    #eaf73d
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-greeting {
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-top: 0;
  word-spacing: 0.7px;
  text-align: center;
  color: #afc8ee;
}
.greeting {
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
}
.start-trading-btn {
  padding: 6px 13px;
  border-radius: 5px;
  border: solid 1px #2ab42a;
  background-color: #2ab42a;
  color: #ffffff;

  font-family: "Bree-Serif";
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: 1s ease-in-out;
}
.start-trading-btn:hover {
  box-shadow: 0 4px 18px 0 #545454;
}
@media (max-width: 767px) {
  .start-trading-btn {
    padding: 3px 9px;
    font-size: 9px;
  }
}
/* ---- dummy code ----- */
.fill-space1 {
  width: 450px;
  height: 450px;
  background-color: #313131;
}

.show {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}
.hide {
  display: none;
}
@media (min-width: 767px) {
  .show {
    display: none;
  }
  .hide {
    display: flex;
  }
}

.home-assets {
  margin-top: -43px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.home-asset-item {
  width: 56px;
  height: 56px;
  font-size: 33px;
  color: #fcf3ff;
  border: solid 3px #313131;
  background-color: #313131;
  border-radius: 7px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .home-assets {
    margin-top: 43px;
  }
  .home-asset-item {
    width: 110px;
    height: 110px;
  }
}
.info {
  text-align: center;
  font-size: 9px;
  color: #ccc;
}
