.cryptocurrency-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 11px;
  padding-right: 11px;
}

.currency-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}

.currency-logo {
  width: 19px;
  height: 19px;
}

.name-card {
  width: 50%;
}
.currency-name {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 9px;
  font-weight: 500;
}

.currency-value-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}
.currency-value {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 9px;
  font-weight: 500;
}
