.nav-small {
  height: 10vh;
  width: 100%;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  color: #49fff9;
}
@media (min-width: 768px) {
  .nav-small {
    display: none;
  }
}
.app-details {
  display: flex;
  align-items: center;
  margin-left: 3px;
}
.app-logo {
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.app-name {
  font-size: 13px;
  font-style: italic;
  margin-left: 3px;
}

.nav-options-card {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin-right: 3px;
}
.nav-option-button {
  display: inline-block;
  border: none;
  background-color: transparent;
  outline: none;
}

.popup-menu {
  width: 215px;
  height: 235px;
  border: solid 1px #333333;
  background-color: #333333;
  border-radius: 7px;
  box-shadow: 0 4px 16px 0 #1a1e1c;

  display: flex;
  flex-direction: column;
}
.close-btn {
  align-self: flex-end;
  color: #fffcef;
  font-size: 21px;
  /* font-weight: 900; */
  border: none;
  background-color: transparent;
  margin-bottom: -11px;
}
.nav-icon {
  font-size: 19px;
  color: #fffff3;
  transition: 1s ease-in-out;
}
.nav-icon:hover {
  rotate: 135deg;
  color: #78f635;
}

.menu-icon {
  font-size: 19px;
  color: #fffff3;
  transition: 1s ease-in-out;
}
.menu-icon:hover {
  rotate: 90deg;
  color: #78f635;
}

.profile-icon {
  font-size: 19px;
  color: #fffff3;
  transition: 1s ease-in-out;
}
.profile-icon:hover {
  font-size: 21px;
  color: #78f635;
}
